{{ 'modern-faq.css' | asset_url | stylesheet_tag }}
{%- assign color_scheme_hash = section.settings.color_scheme.settings.background_gradient | default: section.settings.color_scheme.settings.background | md5 -%}

<div class="section-spacing section-spacing--tight color-scheme color-scheme--{{ section.settings.color_scheme.id }} color-scheme--bg-{{ color_scheme_hash }} {% if section.settings.separate_section_with_border %}bordered-section{% endif %}">
    <div class="modern__faq container container--md">
        <div class="title__desc-wrapper">
            <h2 class="title h2">
                {{ section.settings.title }}
            </h2>
            <p class="description">
                {{ section.settings.description }}
            </p>
        </div>
        <div class="accordion__wrapper" js-accordion-image-wrapper>
            {% for accordion in page.metafields.custom.faqs_list.value %}
                {% if accordion.image != blank %}
                    <div class="image">
                        {{ accordion.image.value | image_url: width: 300 | image_tag: class: 'accordion__image' , data-index: forloop.index  }}
                    </div>
                    {% break %}
                {% endif %}
            {% endfor %}
            <div class="accordion__content">
                {% for accordion_b in page.metafields.custom.faqs_list.value %}
                    {% render 'modern-accordion', title: accordion_b.question.value, content: accordion_b.answer.value , index: forloop.index , image_input: accordion_b.image.value, snippet: true %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script>
    const items = document.querySelectorAll('.accordion-item');

    document.querySelectorAll('.accordion-header').forEach(header => {
        header.addEventListener('click', () => {
            const item = header.parentElement;

            // Close all items first
            items.forEach(i => {
                if (i !== item) {
                    i.classList.remove('active');
                }
            });

            // Toggle the clicked one
            item.classList.toggle('active');
            const container = item.closest('[js-accordion-image-wrapper]');
            const accordionContainer = item.closest('.accordion-item');
            console.log({container}, {accordionContainer});
            container.querySelector('.image img').src= accordionContainer.dataset.imageSrc
            container.querySelector('.image img').srcset= accordionContainer.dataset.imageSrc

        });
    });
</script>