{%- if block.settings.text != blank -%}
  {%- assign text_position = block.settings.text_position | replace: 'left', 'start' | replace: 'right', 'end' -%}
  
  <div 
    class="container container--{{ block.settings.content_width }}" 
    style="padding-top: {{ block.settings.padding_top }}px; padding-bottom: {{ block.settings.padding_bottom }}px;" 
    {{ block.shopify_attributes }}
  >
    <div class="prose text-{{ text_position }}">
      {{- block.settings.text -}}
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "t:blocks.rich_text.name",
  "tag": null,
  "settings": [
    {
      "type": "richtext",
      "id": "text",
      "label": "t:global.text.content",
      "default": "<p>Write some text about your products or your brand.</p>"
    },
    {
      "type": "select",
      "id": "content_width",
      "label": "t:global.sizes.content_width",
      "options": [
        {
          "value": "xs",
          "label": "t:global.sizes.x_small"
        },
        {
          "value": "sm",
          "label": "t:global.sizes.small"
        },
        {
          "value": "md",
          "label": "t:global.sizes.medium"
        },
        {
          "value": "lg",
          "label": "t:global.sizes.large"
        }
      ],
      "default": "sm"
    },
    {
      "type": "text_alignment",
      "id": "text_position",
      "label": "t:global.position.content_position",
      "default": "center"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "t:blocks.rich_text.name"
    }
  ]
}
{% endschema %}
